$fonts: 'HelveticaNeueArabic', 'NeueHelveticaW01' , 'Helvetica', 'HelveticaWorld', 'Arial', 'TazuganeGothic', 'sans-serif';  

$black: #000;
$white: #fff;
$light-gray: #ccc;

body { 
  margin: 0; 
  padding: 0; 
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
  text-align: center;
  font-family: $fonts;
  
  nav {
    height: 130px;
    background-color: $black;
    box-shadow: 0 3px 5px 0 hsla(240,3%,85%,.7);
    transform: translateZ(0);
    
    .nav-container {
      display: flex;
      justify-content: center;
    }
    
    ul {
      display: flex;
      justify-content: flex-start;
      margin: 0;
      padding: 0;
    }
    
    li {
      display: block;
      padding-left: 5px;
      list-style-type: none;

      .thumb {
        height: 130px;
      }
      .current {
        opacity: 0.5;
      }
    }
  }

  main {
    display: flex;
    flex: 2;
    align-items: center;
    justify-content: center;
    .caption {
      line-height: 0.5rem;
      text-transform: uppercase;
      margin: 0;
    }
    
    h1 {
      color: $black;
      font-size: 1.5rem;
    }
    
    h2 {
      color: $light-gray;
      font-size: 0.7rem;
    }

    img {
      max-width: 420px;
    }
  }
}

@media screen and (max-width: 980px) {
  nav {
    order: 2;
  }
  main {
    .show {
      img {
        max-height: 600px;
        max-width: 100%;
        width: 320px;
        height: auto;
      }
    }
  }
}